body {
	color: white;
	background-color: black;
	padding-left: 20%;
}

tr {
	text-align: right;
}

td {
	padding-bottom: 15px;
}

button {
	color: white;
	background-color: black;
}

.pad {
	padding-top: 1.5%;
}